body::-webkit-scrollbar {
    display: none;
}

.main-container{
    margin:"40px";
    margin-top: "50px";
    width: "95%"; display:"flex"; 
    flex-direction:"row"; 
    justify-content:"space-between";
}

input[type="date"]{
    background-color: #0080ff;
    padding: 5px;
    /* position: absolute; */
    /* transform: translate(-50%,-50%); */
    /* top: 50%; */
    /* left: 50%; */
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}